.display-column {
  display: flex;
  flex-direction: column;
}

.display-row {
  display: flex;
}

.form-button {
  width: 100px;
}

.form-dropdown {
  width: 100px;
}

#forms-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 2rem;
  border: 1px solid #333;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 5px #444; 
  box-shadow: 5px 5px 15px 5px #444;
  padding: 2rem;
}

.added-temp-container {  
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 2rem;
  padding: 2rem;
  
}

#ingredient-row {
  display: flex;
  justify-content: space-around;
}

.space {
  height: 25px;
}

.text-input {
  width: 200px;
}

.temp-title {
  margin-bottom: 1rem;
}

.center-title {
  align-self: center;
}