.ingredient-row-border {
  border-top: 1px solid #777 !important;
  border-bottom: 1px solid #777 !important;
}

.hide-element {
  display: none;
}

.ingredient-row {
  display: flex;
  width: 250px;
  justify-content: space-between;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 0.25rem;
  padding-left: 0.25rem;
}

.remove-ingredient-button {
  margin-right: 0.25rem;
  border-radius: 7.5px;
  height: 20px;
  width: 20px;
  border-style: outset;
}

.remove-ingredient-button:hover {
  cursor: pointer;
}